<div class="search-bar">
  <div class="section section-left">
    <div class="logo">
      <img
        src="assets/logo.png"
        alt="Logo"
        class="logo-img"
      />
    </div>
  </div>

  <div class="section section-middle">
    <div class="control-group">
      <app-tag-filter-dropdown
        [selectedValues]="$selectedTags()"
        (tagsChange)="onTagsChange($event)"
        [options]="tagOptions"
      />
    </div>

    <div class="control-group">
      <app-date-range-picker
        [dateRange]="$dateRange()"
        (dateRangeChange)="onDateRangeChange($event)"
      />
    </div>

    <div class="control-group">
      <app-search-mode-switch
        [mode]="$searchMode()"
        (modeChange)="onSearchModeChange($event)"
      />
    </div>

    <div class="control-group control-search">
      <app-search-input
        [value]="$searchText()"
        (valueChange)="onSearchTextChange($event)"
        (advancedClick)="onAdvancedClick()"
      />
    </div>

    <div class="control-group">
      <app-run-button (run)="onRun($event)" />
    </div>

    <div class="control-group">
      <app-save-search-button (save)="onSaveSearch($event)" />
    </div>
  </div>

  <div class="section section-right">
    <app-alert-button
      (openIssue)="onOpenIssue()"
      (openRequest)="onOpenRequest()"
    />
  </div>
</div>
