<div class="graph-canvas-container" #sigmaContainer></div>

<div class="graph-controls">
  <button
    class="control-button"
    (click)="onZoomIn()"
    [title]="translations.zoomIn"
  >
    <app-icon
      [name]="ICON_NAMES.PLUS"
      size="1rem"
      color="var(--color-dark-navy)"
    />
  </button>
  <button
    class="control-button"
    (click)="onZoomOut()"
    [title]="translations.zoomOut"
  >
    <app-icon
      [name]="ICON_NAMES.MINUS"
      size="1rem"
      color="var(--color-dark-navy)"
    />
  </button>
  <button
    class="control-button"
    (click)="onRecenter()"
    [title]="translations.recenter"
  >
    <app-icon
      [name]="ICON_NAMES.ARROWS_ALT"
      size="1rem"
      color="var(--color-dark-navy)"
    />
  </button>
</div>
