<div class="tag-filter-bar">
  <button
    class="scroll-btn"
    (click)="onScrollLeft()"
  >
    <app-icon
      [name]="ICON_NAMES.CHEVRON_LEFT"
      [size]="ICON_SIZE_XS"
    />
  </button>

  <div
    class="tag-scroll-container"
    #scrollContainer
  >
    @for (tag of tags; track tag) {
      <button
        class="tag-btn"
        [class.checked]="isTagSelected(tag)"
        (click)="onTagClick(tag)"
      >
        {{ tag }}
      </button>
    }
  </div>

  <button
    class="scroll-btn"
    (click)="onScrollRight()"
  >
    <app-icon
      [name]="ICON_NAMES.CHEVRON_RIGHT"
      [size]="ICON_SIZE_XS"
    />
  </button>
</div>
