@if ($isOpen()) {
  <div
    class="graph-drawer"
    [style]="$drawerStyle()"
    #drawerContainer
  >
    <div
      class="drawer-handle"
      (mousedown)="onDragStart($event)"
      (dblclick)="onHandleDoubleClick()"
    >
      <div class="handle-bar"></div>
    </div>

    <div class="drawer-content">
      <div class="drawer-mail-content">
        <app-mail-content-view [mail]="$selectedMail()" />
      </div>
      <div class="drawer-mail-list">
        <app-mail-list
          [graphSelectionMails]="$mails()"
          [graphSelectionInfo]="$graphSelectionInfo()"
          [showTagFilter]="$graphSelectionInfo()?.type === 'node'"
          [isFullscreen]="$isFullscreen()"
          (closeClick)="onClose()"
          (fullscreenClick)="onToggleFullscreen()"
        />
      </div>
    </div>
  </div>
}
