{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "always",
  "singleAttributePerLine": true
}
