<div class="skeleton-list">
  @for (skeletonItem of skeletonItems; track skeletonItem) {
    <div class="skeleton-card">
      <div class="skeleton-indicator"></div>
      <div class="skeleton-content">
        <div class="skeleton-line skeleton-pin"></div>
        <div class="skeleton-line skeleton-name"></div>
        <div class="skeleton-line skeleton-username"></div>
        <div class="skeleton-line skeleton-date"></div>
        <div class="skeleton-line skeleton-action"></div>
      </div>
    </div>
  }
</div>
