<div class="last-search-list">
  @if ($isLoading()) {
    @for (skeletonItem of skeletonItems; track skeletonItem) {
      <div class="skeleton-card">
        <div class="skeleton-indicator"></div>
        <div class="skeleton-content">
          <div class="skeleton-line skeleton-type"></div>
          <div class="skeleton-line skeleton-date"></div>
          <div class="skeleton-line skeleton-time"></div>
          <div class="skeleton-line skeleton-action"></div>
        </div>
      </div>
    }
  } @else if ($lastSearches().length === 0) {
    <div class="empty-message">
      <span>{{ labels.emptyLastSearch }}</span>
    </div>
  } @else {
    @for (search of $lastSearches(); track $index) {
      <div class="last-search-item">
        <div class="unread-indicator"></div>

        <div class="item-content">
          <span class="last-search-type">{{ getSearchTypeLabel(search.searchType) }}</span>

          <span
            class="last-search-date"
            dir="ltr"
            >{{ search.date | formatDate }}</span
          >

          <span
            class="last-search-time"
            dir="ltr"
            >{{ search.date | formatTime }}</span
          >

          <div class="play-btn-wrapper">
            <app-hover-popup
              [options]="playOptions"
              (optionSelect)="onPlaySelect($event)"
            >
              <button
                type="button"
                class="play-btn"
              >
                <app-icon
                  [name]="ICON_NAMES.PLAY"
                  [size]="ICON_SIZE_XS"
                />
              </button>
            </app-hover-popup>
          </div>
        </div>
      </div>
    }
  }
</div>
