:host {
  display: block;
}

.switch-container {
  display: flex;
  direction: ltr;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  padding: 0.15rem;
  width: fit-content;

  .switch-btn {
    padding: 0.3rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    background-color: transparent;
    color: var(--color-dark-navy);
    font-family: var(--font-family);
    font-size: var(--font-size-xs);
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
  }

  .switch-btn-active {
    border-color: var(--color-dark-navy);
  }

  .switch-btn-agent {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}
