<div class="mail-list-container">
  @if ($graphSelectionInfo(); as selectionInfo) {
    <div class="override-bubble">
      <div class="override-bubble-info">
        @if (selectionInfo.type === 'node') {
          <span class="override-bubble-email">{{ selectionInfo.email }}</span>
        }
        @if (selectionInfo.type === 'edge') {
          <div class="override-bubble-row">
            <span class="override-bubble-label">From:</span>
            <span class="override-bubble-email">{{ selectionInfo.fromEmail }}</span>
          </div>
          <div class="override-bubble-row">
            <span class="override-bubble-label">To:</span>
            <span class="override-bubble-email">{{ selectionInfo.toEmail }}</span>
          </div>
        }
      </div>
      <span class="override-bubble-count" dir="rtl">({{ $mailCount() }} {{ inboxTranslations.mails }})</span>
    </div>
  } @else {
    <app-user-mail-bubble
      [userEmail]="userEmail"
      [mailCount]="$mailCount()"
    />
  }

  <div class="mail-list-wrapper">
    @if ($showTagFilter()) {
      <app-tag-filter-bar />
    }

    <app-mail-filter-bar
      [activeFilter]="$activeFilter()"
      [isSelectMode]="$isSelectMode()"
      [sortDirection]="$sortDirection()"
      [selectedCount]="$selectedCount()"
      (filterChange)="onFilterChange($event)"
      (sortChange)="onSortChange($event)"
      (translateClick)="onTranslateClick($event)"
      (exportModeToggle)="onExportModeToggle()"
      (exportClick)="onExportClick()"
      (cancelClick)="onCancelSelectMode()"
    />

    <div class="mail-list-scroll">
      @for (mail of $filteredMails(); track mail.filename) {
        <app-mail-item
          [mail]="mail"
          [preview]="getMailPreview(mail)"
          [isSelectMode]="$isSelectMode()"
          [isSelected]="isMailSelected(mail)"
          [isCurrent]="isCurrentMail(mail)"
          (mailClick)="onMailClick(mail)"
          (selectionChange)="onSelectionChange(mail, $event, $index)"
          (contextMenu)="onContextMenu($event)"
        />
      }
    </div>
  </div>
</div>

@if ($contextMenu().isOpen) {
  <app-context-menu
    [x]="$contextMenu().x"
    [y]="$contextMenu().y"
    (markAsUnseenClick)="onMarkAsUnseen()"
    (closeMenu)="onCloseContextMenu()"
  />
}
