<div class="mail-metadata">
  <div class="subject-row">
    <h2 class="subject" [innerHTML]="$mail().subject | highlightText:$searchTerms()"></h2>
    <div class="datetime">
      <span class="date">{{ $formattedDate() }}</span>
      <span class="time">{{ $formattedTime() }}</span>
    </div>
  </div>

  <div class="recipients">
    <div class="recipient-row">
      <div class="recipient-label">
        <app-icon [name]="ICON_NAMES.USER" size="0.875rem" color="var(--color-navy-gray)" />
        <span>From:</span>
      </div>
      <span class="recipient-value" [innerHTML]="$fromDisplay() | highlightText:$searchTerms()"></span>
    </div>

    <div class="recipient-row">
      <div class="recipient-label">
        <app-icon [name]="ICON_NAMES.USERS" size="0.875rem" color="var(--color-navy-gray)" />
        <span>To:</span>
      </div>
      <span class="recipient-value" [innerHTML]="$toDisplay() | highlightText:$searchTerms()"></span>
    </div>

    @if ($ccDisplay()) {
      <div class="recipient-row">
        <div class="recipient-label">
          <app-icon [name]="ICON_NAMES.COPY" size="0.875rem" color="var(--color-navy-gray)" />
          <span>CC:</span>
        </div>
        <span class="recipient-value" [innerHTML]="$ccDisplay() | highlightText:$searchTerms()"></span>
      </div>
    }

    @if ($bccDisplay()) {
      <div class="recipient-row">
        <div class="recipient-label">
          <app-icon [name]="ICON_NAMES.EYE_SLASH" size="0.875rem" color="var(--color-navy-gray)" />
          <span>BCC:</span>
        </div>
        <span class="recipient-value" [innerHTML]="$bccDisplay() | highlightText:$searchTerms()"></span>
      </div>
    }
  </div>
</div>
