<div
  class="graph-canvas-container"
  #sigmaContainer
></div>

<div class="graph-controls">
  <button
    class="control-button"
    (click)="onZoomIn()"
    [title]="translations.zoomIn"
  >
    <app-icon
      [name]="ICON_NAMES.PLUS"
      [size]="ICON_SIZE_LG"
    />
  </button>
  <button
    class="control-button"
    (click)="onZoomOut()"
    [title]="translations.zoomOut"
  >
    <app-icon
      [name]="ICON_NAMES.MINUS"
      [size]="ICON_SIZE_LG"
    />
  </button>
  <button
    class="control-button"
    (click)="onRecenter()"
    [title]="translations.recenter"
  >
    <app-icon
      [name]="ICON_NAMES.ARROWS_ALT"
      [size]="ICON_SIZE_LG"
    />
  </button>
</div>
