@if ($isLoading()) {
  <app-content-skeleton />
} @else if ($mail()) {
  <div class="mail-content-view">
    <app-mail-content-toolbar
      [selectedEncoding]="$selectedEncoding()"
      [currentHighlightIndex]="$currentHighlightIndex()"
      [totalHighlights]="$totalHighlights()"
      (encodingChange)="onEncodingChange($event)"
      (downloadClick)="onDownloadMail()"
      (previousClick)="onPreviousHighlight()"
      (nextClick)="onNextHighlight()"
    />

    <app-mail-metadata [mail]="$mail()!" />

    <app-mail-extra-info [rows]="extraInfoRows" />

    @if ($hasAttachments()) {
      <app-mail-attachments
        [attachments]="$attachments()"
        [mailFilename]="$mailFilename()"
        (downloadAllClick)="onDownloadAllAttachments()"
        (downloadAttachmentClick)="onDownloadAttachment($event)"
      />
    }

    <app-mail-body
      [content]="$mailContent()"
      [mailFilename]="$mailFilename()"
    />
  </div>
} @else {
  <div class="no-mail-selected">
    <span>{{ translations.noMailSelected }}</span>
  </div>
}
