<div class="saved-search-list">
  <div class="filters">
    <input
      type="text"
      class="filter-input name-input"
      [placeholder]="labels.name"
      [ngModel]="$nameFilter()"
      (ngModelChange)="onNameFilterChange($event)"
    />
    <input
      type="text"
      class="filter-input user-input"
      [placeholder]="labels.user"
      [ngModel]="$userFilter()"
      (ngModelChange)="onUserFilterChange($event)"
    />
    <button
      type="button"
      class="clear-btn"
      [class.disabled]="!$hasFilters()"
      (click)="onClearFilters()"
    >
      {{ labels.clear }}
    </button>
  </div>

  @if ($isLoading()) {
    <app-saved-search-skeleton />
  } @else {
    <div class="list">
      @for (search of $filteredSavedSearches(); track search.name; let i = $index) {
        <div
          class="saved-search-item"
          [class.glowing]="$glowingSearch() === search"
        >
          <div class="unread-indicator"></div>

          <div class="item-content">
            <button
              type="button"
              class="pin-btn"
              (click)="onTogglePin(search)"
            >
              <app-icon
                [name]="ICON_NAMES.THUMBTACK"
                [size]="ICON_SIZE_SM"
                [color]="pinIconColor(search)"
              />
            </button>

            <div class="name-wrapper">
              <span
                class="saved-search-name"
                dir="auto"
                >{{ search.name }}</span
              >

              @if ($editingIndex() === i) {
                <div class="edit-popup">
                  <input
                    type="text"
                    class="edit-name-input"
                    dir="auto"
                    [maxlength]="MAX_NAME_LENGTH"
                    [ngModel]="$editingName()"
                    (ngModelChange)="onEditNameChange($event)"
                    (keydown)="onEditKeydown($event, search)"
                  />
                  <button
                    type="button"
                    class="save-btn"
                    (click)="onEditConfirm(search)"
                  >
                    {{ labels.save }}
                  </button>
                </div>
              }
            </div>

            <span
              class="saved-search-username"
              dir="ltr"
              >{{ search.username }}</span
            >

            <span
              class="saved-search-date"
              dir="ltr"
              >{{ search.date | formatDate }}</span
            >

            <div class="item-actions">
              <div
                class="play-btn-wrapper"
                [class.hidden]="$openMenuIndex() === i"
              >
                <app-hover-popup
                  [options]="playOptions"
                  (optionSelect)="onPlaySelect($event)"
                >
                  <button
                    type="button"
                    class="play-btn"
                  >
                    <app-icon
                      [name]="ICON_NAMES.PLAY"
                      [size]="ICON_SIZE_XS"
                    />
                  </button>
                </app-hover-popup>
              </div>

              <div class="actions-wrapper">
                <button
                  type="button"
                  class="dots-btn"
                  [class.open]="$openMenuIndex() === i"
                  (click)="onToggleMenu(i)"
                >
                  <app-icon
                    [name]="ICON_NAMES.ELLIPSIS_V"
                    [size]="ICON_SIZE_XS"
                    [color]="menuIconColor(i)"
                  />
                </button>

                <div
                  class="actions-slider"
                  [class.open]="$openMenuIndex() === i"
                >
                  @if (isOwnSearch(search)) {
                    <button
                      type="button"
                      class="slider-btn"
                      (click)="onDelete(search)"
                    >
                      <app-icon
                        [name]="ICON_NAMES.TRASH"
                        size="0.65rem"
                      />
                    </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>

@if ($editingIndex() !== -1) {
  <div
    class="edit-overlay"
    (click)="onOverlayClick()"
  ></div>
}
