<div class="search-history">
  <div class="tabs">
    <button
      type="button"
      class="tab"
      (click)="onTabClick('saved-search')"
    >
      {{ labels.savedSearches }}
    </button>
    <button
      type="button"
      class="tab"
      (click)="onTabClick('last-search')"
    >
      {{ labels.lastSearches }}
    </button>
  </div>

  <div class="divider">
    <div
      class="divider-half"
      [class.active]="$activeTab() === 'saved-search'"
    ></div>
    <div
      class="divider-half"
      [class.active]="$activeTab() === 'last-search'"
    ></div>
  </div>

  <div class="content">
    @if ($activeTab() === 'saved-search') {
      <app-saved-search-list
        [savedSearches]="$savedSearches()"
        [isLoading]="$isSavedSearchLoading()"
      />
    }

    @if ($activeTab() === 'last-search') {
      <app-last-search-list
        [lastSearches]="$lastSearches()"
        [isLoading]="$isLastSearchLoading()"
      />
    }
  </div>
</div>
