<div class="mail-content-toolbar">
  <div class="toolbar-right">
    <button
      type="button"
      class="icon-btn"
      [title]="toolbarTranslations.extraInfo"
      (click)="onExtraInfoClick()"
    >
      <app-icon
        [name]="ICON_NAMES.BRACKETS_CURLY"
        [size]="ICON_SIZE_MD"
      />
    </button>
    <span class="separator">|</span>
    <button
      type="button"
      class="icon-btn"
      [title]="toolbarTranslations.download"
      (click)="onDownloadClick()"
    >
      <app-icon
        [name]="ICON_NAMES.DOWNLOAD"
        [size]="ICON_SIZE_MD"
      />
    </button>
    @if ($totalHighlights() > 0) {
      <span class="separator">|</span>
      <div class="highlight-nav">
        <div class="nav-buttons">
          <button
            type="button"
            class="nav-btn"
            [title]="toolbarTranslations.next"
            [disabled]="!$hasNext()"
            (click)="onNextClick()"
          >
            <app-icon
              [name]="ICON_NAMES.CHEVRON_LEFT"
              [size]="ICON_SIZE_MD"
              [color]="$nextIconColor()"
            />
          </button>
          <button
            type="button"
            class="nav-btn"
            [title]="toolbarTranslations.previous"
            [disabled]="!$hasPrevious()"
            (click)="onPreviousClick()"
          >
            <app-icon
              [name]="ICON_NAMES.CHEVRON_RIGHT"
              [size]="ICON_SIZE_MD"
              [color]="$prevIconColor()"
            />
          </button>
        </div>
        <span
          class="highlight-counter"
          dir="rtl"
          >{{ $currentHighlightIndex() + 1 }} {{ highlightLabels.outOf }} {{ $totalHighlights() }}
          {{ highlightLabels.matches }}</span
        >
      </div>
    }
  </div>

  <div class="toolbar-left">
    <div class="encoding-wrapper">
      <button
        type="button"
        class="encoding-btn"
        [class.open]="$isEncodingPopupOpen()"
        [class.active]="$selectedEncoding() !== 'none'"
        (click)="onEncodingClick()"
      >
        <span>{{ $selectedEncoding() === 'none' ? translations.encoding : encodingLabels[$selectedEncoding()] }}</span>
        <app-icon
          [name]="$isEncodingPopupOpen() ? ICON_NAMES.CHEVRON_UP : ICON_NAMES.CHEVRON_DOWN"
          size="0.625rem"
          [color]="$encodingIconColor()"
        />
      </button>
      @if ($isEncodingPopupOpen()) {
        <div class="encoding-popup">
          @for (encoding of encodings; track encoding) {
            <button
              type="button"
              class="encoding-option"
              [class.selected]="$selectedEncoding() === encoding"
              (click)="onEncodingSelect(encoding)"
            >
              {{ encodingLabels[encoding] }}
              @if ($selectedEncoding() === encoding) {
                <app-icon
                  [name]="ICON_NAMES.CHECK"
                  [size]="ICON_SIZE_SM"
                  color="var(--color-blue)"
                />
              }
            </button>
          }
        </div>
      }
    </div>
  </div>
</div>
