<div class="mail-filter-bar">
  <div class="filter-actions-right">
    <div class="translate-wrapper">
      <button
        type="button"
        class="icon-btn"
        [class.active]="$isLanguagePopupOpen()"
        [title]="translations.translateTooltip"
        (click)="onTranslateClick()"
      >
        <app-icon
          [name]="ICON_NAMES.GLOBE"
          [size]="ICON_SIZE_LG"
          [color]="$languageIconColor()"
        />
      </button>
      @if ($isLanguagePopupOpen()) {
        <div class="language-popup">
          @for (language of languages; track language) {
            <button
              type="button"
              class="language-option"
              [class.selected]="$selectedLanguage() === language"
              (click)="onLanguageSelect(language)"
            >
              {{ languageLabels[language] }}
              @if ($selectedLanguage() === language) {
                <app-icon
                  [name]="ICON_NAMES.CHECK"
                  [size]="ICON_SIZE_SM"
                  color="var(--color-blue)"
                />
              }
            </button>
          }
        </div>
      }
    </div>

    <button
      type="button"
      class="icon-btn"
      [class.active]="$isSelectMode()"
      [title]="translations.exportTooltip"
      (click)="onExcelClick()"
    >
      <app-icon
        [name]="ICON_NAMES.FILE_EXCEL"
        [size]="ICON_SIZE_LG"
        [color]="$selectModeIconColor()"
      />
    </button>
    @if ($isSelectMode()) {
      <button
        type="button"
        class="export-btn"
        [class.disabled]="$selectedCount() === 0"
        [disabled]="$selectedCount() === 0"
        (click)="onExportClick()"
      >
        {{ translations.exportWithCount }} ({{ $selectedCount() }})
      </button>
    }
  </div>

  @if ($filteredCount() >= 0) {
    <span class="mail-count">({{ $filteredCount() }} {{ translations.mails }})</span>
  }

  <div class="filter-actions-left">
    <button
      type="button"
      class="icon-btn"
      [title]="$sortDirection() === 'desc' ? translations.sortNewToOld : translations.sortOldToNew"
      (click)="onSortToggle()"
    >
      <app-icon
        [name]="$sortDirection() === 'desc' ? ICON_NAMES.SORT_AMOUNT_DOWN : ICON_NAMES.SORT_AMOUNT_UP"
        [size]="ICON_SIZE_LG"
      />
    </button>

    <button
      type="button"
      class="icon-btn"
      [class.active]="$activeFilter() === 'unread'"
      [title]="translations.unreadTooltip"
      (click)="onFilterClick('unread')"
    >
      <app-icon
        [name]="ICON_NAMES.ENVELOPE"
        [size]="ICON_SIZE_LG"
        [color]="$unreadFilterIconColor()"
      />
    </button>

    <button
      type="button"
      class="icon-btn"
      [class.active]="$activeFilter() === 'read'"
      [title]="translations.readTooltip"
      (click)="onFilterClick('read')"
    >
      <app-icon
        [name]="ICON_NAMES.EYE"
        [size]="ICON_SIZE_LG"
        [color]="$readFilterIconColor()"
      />
    </button>
  </div>
</div>
