<div class="verbal-section">
  <div class="verbal-content">
    <div class="amount-stepper">
      <input
        type="number"
        class="amount-input"
        [value]="$verbalAmount()"
        (input)="onAmountInput($event)"
        min="1"
        [max]="maxAmount"
      />
      <div class="stepper-arrows">
        <button
          type="button"
          class="stepper-arrow-btn"
          (click)="incrementAmount()"
          [disabled]="maxAmount !== null && $verbalAmount() >= maxAmount"
        >
          <app-icon
            [name]="ICON_NAMES.CHEVRON_UP"
            size="0.55rem"
          />
        </button>
        <button
          type="button"
          class="stepper-arrow-btn"
          (click)="decrementAmount()"
          [disabled]="$verbalAmount() <= 1"
        >
          <app-icon
            [name]="ICON_NAMES.CHEVRON_DOWN"
            size="0.55rem"
          />
        </button>
      </div>
    </div>
    <p-select
      [options]="timeUnitOptions"
      [ngModel]="$verbalUnit()"
      (ngModelChange)="onUnitChange($event)"
      optionLabel="label"
      optionValue="value"
      styleClass="unit-select"
    />
    <span class="verbal-last-label">{{ translations.lastLabel }}</span>
  </div>
</div>
