.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--input-height);
  height: var(--input-height);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-navy-gray);
  }
}
