<div
  class="mail-preview"
  [class.unread]="$isUnread()"
  [class.selected]="$isSelected()"
  [class.current]="$isCurrent()"
  (click)="onMailClick($event)"
  (contextmenu)="onContextMenu($event)"
>
  <div class="unread-indicator"></div>

  @if ($isSelectMode()) {
    <div
      class="select-circle"
      [class.is-selected]="$isSelected()"
    >
      @if ($isSelected()) {
        <app-icon
          [name]="ICON_NAMES.CHECK"
          [size]="ICON_SIZE_SM"
          color="var(--color-white)"
        />
      }
    </div>
  }

  <div class="mail-content">
    <div class="mail-subject-row">
      <div
        class="mail-subject"
        dir="auto"
      >
        <span [innerHTML]="$subjectPreview() | highlightText: $searchTerms()"></span>
        @if ($isSubjectOverflow()) {
          <span
            class="ellipsis"
            [class.highlighted]="$isSubjectEllipsisHighlighted()"
            >...</span
          >
        }
      </div>
      @if ($attachmentCount() > 0) {
        <div
          class="attachment-badge"
          [class.highlight-attachment-badge]="$isAttachmentBadgeHighlighted()"
        >
          <app-icon
            [name]="ICON_NAMES.PAPERCLIP"
            [size]="ICON_SIZE_MD"
          />
          <span class="attachment-count">{{ $attachmentCount() }}</span>
        </div>
      }
    </div>

    <div class="mail-sender-row">
      <div
        class="mail-from"
        dir="auto"
        [innerHTML]="($mail().from | formatUserInfo) | highlightText: $searchTerms()"
      ></div>
      <span class="mail-date">{{ $mail().sent | formatDate }}</span>
      <span class="mail-time">{{ $mail().sent | formatTime }}</span>
    </div>

    <div class="mail-to">
      <app-icon
        [name]="ICON_NAMES.CHEVRON_RIGHT"
        size="0.625rem"
      />
      <span [innerHTML]="$toDisplayText() | highlightText: $searchTerms()"></span>
      @if ($isToOverflow()) {
        <span
          class="ellipsis"
          [class.highlighted]="$isToEllipsisHighlighted()"
          >...</span
        >
      }
    </div>

    @if ($contentPreview()) {
      <div
        class="mail-body-preview"
        dir="auto"
        [innerHTML]="$contentPreview() | highlightText: $searchTerms()"
      ></div>
    }
  </div>
</div>
