.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-light-gray);
  border-bottom: 1px solid var(--color-navy-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  &.embedded {
    border-bottom: none;
    box-shadow: none;
    background-color: transparent;
    width: max-content;

  }
}

.section {
  display: flex;
  align-items: center;
}

.section-left {
  flex: 0 0 auto;
}

.section-middle {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: center;
}

.section-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.control-group {
  flex: 0 0 auto;
}

.control-search {
  flex: 1;
  min-width: 12rem;
  max-width: 20rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.logo-img {
  height: 2.5rem;
  width: auto;
}
