<div class="graph-view">
  @if ($isLoading()) {
    <div class="graph-loader">
      <div class="graph-loader-spinner"></div>
      <span class="graph-loader-text">{{ translations.loadingGraph }}</span>
    </div>
  }

  <div class="graph-area" [class.hidden]="$isLoading()">
    <div class="graph-canvas-wrapper">
      <app-graph-canvas
        [graphData]="$graphData()"
        [positions]="$graphPositions()"
        [selection]="$selection()"
        [visibleNodes]="$visibleNodeEmails()"
        [hoveredNode]="$hoveredNodeEmail()"
        (nodeClick)="onNodeClick($event)"
        (edgeClick)="onEdgeClick($event)"
        (stageClick)="onStageClick()"
      />

      <app-graph-drawer
        [mails]="$filteredMails()"
        [isOpen]="$isDrawerOpen()"
        (drawerClose)="onDrawerClose()"
      />
    </div>
  </div>

  <div class="node-panel-area" [class.hidden]="$isLoading()">
    <app-node-panel
      [nodes]="$nodeList()"
      [selectedEmail]="$selectedNodeEmail()"
      [dateMin]="$dateMin()"
      [dateMax]="$dateMax()"
      [dateRangeValues]="$dateRangeValues()"
      [mailCountMin]="1"
      [mailCountMax]="$mailCountMax()"
      [mailCountRangeValues]="$mailCountRangeValues()"
      (nodeClick)="onNodeClick($event)"
      (nodeHover)="onNodeHover($event)"
      (nodeHoverLeave)="onNodeHoverLeave()"
      (dateRangeChange)="onDateRangeChange($event)"
      (mailCountRangeChange)="onMailCountRangeChange($event)"
    />
  </div>
</div>
