:host {
  display: block;
}

::ng-deep {
  .rounded-select {
    border-radius: var(--border-radius) !important;
    border: 1px solid var(--color-navy-gray) !important;
    background-color: var(--color-white) !important;
    overflow: hidden !important;

    * {
      border-radius: inherit;
    }

    &:hover,
    &.p-focus,
    &.p-inputwrapper-focus {
      box-shadow: none !important;
      border-color: var(--color-navy-gray) !important;
    }

    .p-select-label,
    .p-select-input,
    input {
      padding: 0.5rem 1rem !important;
    }

    .p-select-dropdown,
    .p-select-trigger,
    .p-select-clear-icon {
      padding: 0 0.75rem !important;
    }
  }
}
