<div class="mail-attachments">
  <button type="button" class="download-all-btn" (click)="onDownloadAllClick()">
    <app-icon [name]="ICON_NAMES.DOWNLOAD" size="1rem" color="var(--color-navy-gray)" />
  </button>

  @for (attachment of $attachments(); track attachment) {
    <button
      type="button"
      class="attachment-item"
      [class.highlight-attachment-content]="isAttachmentContentHighlighted(attachment)"
      [class.highlight-attachment-name]="isAttachmentNameHighlighted(attachment)"
      (click)="onAttachmentClick(attachment)"
    >
      <app-icon
        [name]="getExtensionIcon(attachment)"
        size="1rem"
        [color]="getExtensionColor(attachment)"
        class="file-icon"
      />
      <span class="attachment-name" [innerHTML]="attachment | highlightText:$searchTerms()"></span>
      <div class="corner-fold" [style.border-bottom-color]="getExtensionColor(attachment)"></div>
      <div class="download-overlay">
        <app-icon [name]="ICON_NAMES.DOWNLOAD" size="1rem" color="var(--color-white)" />
      </div>
    </button>
  }
</div>
